:root {
  --law-black: #0b0b0c;
  --law-paper: #e9e6df;
  --law-gray-100: #d1cec7;
  --law-gray-300: #aaa79f;
  --law-gray-500: #77746e;
  --law-gray-700: #343332;
  --law-gray-900: #171718;
  --law-signal: #9e1b1b;
  --radius: 0;
}
